# Graphify
.graphify/
.grapify/

# Dependencies
node_modules/

# Next.js
.next/
out/

# Hardhat & Smart Contracts
artifacts/
cache/
typechain-types/

# Environment Variables
.env
.env.local
.env*.local

# OS & Logs
.DS_Store
*.log
