NEXT_PUBLIC_CHAIN_ENV=testnet
NEXT_PUBLIC_ETH_SEPOLIA_RPC=https://rpc.sepolia.org
NEXT_PUBLIC_ROBINHOOD_TESTNET_RPC=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_ROBINHOOD_CHAIN_ID=46630
NEXT_PUBLIC_OMEN_FACTORY_ADDRESS=0x1111111111111111111111111111111111111111
NEXT_PUBLIC_PREDICTION_MARKET_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
NEXT_PUBLIC_USE_MOCK_CONTRACT=false
NEXT_PUBLIC_CHAINLINK_ETH_USD_FEED=0x694AA1769357215DE4FAC081bf1f309aDC325306
NEXT_PUBLIC_CHAINLINK_BTC_USD_FEED=0x1b44F351481741356631470557718056e04445DD
NEXT_PUBLIC_CHAINLINK_SOL_USD_FEED=0x0c9973e7a27d00e656B9f153348dA46CaD70d03d
AI_API_KEY=
AI_MODEL=meta-llama/llama-3.3-70b-instruct:free
ADMIN_PRIVATE_KEY=
